nav {
  background-color: #00695c;
}
.nav-links {
  position: relative;
  right: -70%;
}

.nav-links li {
  font-weight: bold;
  font-family: "Berkshire Swash", cursive;
  border-color: #56ccf2;
  font-size: 33px;
  color: #56ccf2;
}

.nav-links li:hover {
  color: white;
  cursor: pointer;
}
nav a {
  font-size: 1.75em;
  color: #56ccf2;
}
